---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, mi nombre es <strong>Eloy</strong> y soy un desarrollador web recién graduado en DAW.
      <br />
       Mis principales herramientas son:
      <ul class="list-disc list-inside">
        <li ><strong>Java</strong></li>
        <li><strong>JavaScript y TypeScript</strong></li>
        <li><strong>React.js</strong></li>
        <li><strong>Angular.js</strong></li>
        <li ><strong>Node.js y Express</strong></li>
        <li><strong>Bases SQL y No SQL</strong></li>
        <li><strong>Springboot</strong></li>
        <li><strong>Python</strong></li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Más allá del cooding, me apasiona el diseño, la creación y el baoncesto.
      Uno hobbie es practicar baloncesto tanto como jugador, como entrenador en un equipo de niños de 10 años.
    </p>
    <p class="text-sm font-light">
      También he trabajado en una pastelería en época navideña haciendo roscones, por lo que el trabajo en equipo es una de mis mejores habilidades
    </p>
  </div>
</Card>
