---
import { LINKS } from "../lib/constants";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        ¡Empecemos a trabajar juntos!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">Detalles de contacto</h2>
      <p>eloyperezgomez2004@gmail.com</p>
      <p>Madrid, Spain</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Redes Sociales</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.infojobs} target="_blank">InfoJobs</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
