---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Mis principales herramientas son:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Java</strong></li>
    <li><strong>JavaScript y TypeScript</strong></li>
    <li><strong>React.js</strong></li>
    <li><strong>Angular.js</strong></li>
    <li ><strong>Node.js y Express</strong></li>
    <li><strong>Bases SQL y No SQL</strong></li>
    <li><strong>Springboot</strong></li>
    <li><strong>Python</strong></li>
  </ul>
</Card>
